<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ## Redirect www to  non www
    # RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    # RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
    
    ## Redirect unsecure to secure
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,QSA,R=permanent]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # For existing folders, rewrite only access to cli file, app, components, and core folders
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule !^(app|components|core|tests)($|/) - [L]
    RewriteRule ^cli index.php [L]

    ## Rewrite the rest to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^ index.php [L]

</IfModule>
