<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="components/bootstrap/autoload.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app/Commands</directory>
            <directory suffix=".php">./app/Controllers</directory>
            <directory suffix=".php">./app/Middlewares</directory>
            <directory suffix=".php">./app/Models</directory>
            <directory suffix=".php">./components/helpers</directory>
        </whitelist>
    </filter>
    <!--    <php>
        <env name="APP_ENV" value="testing"/>
    </php>-->
</phpunit>
