<?php

return [
    /*
     * Database
     */
    'DB_DRIVER' => 'mysql',
    'MYSQL_HOST' => 'localhost',
    'MYSQL_DATABASE' => 'liteframe',
    'MYSQL_USER' => 'root',
    'MYSQL_PASSWORD' => '',
    'MYSQL_PORT' => 3306,
    'DB_FREEZE' => 'auto',
    /*
     * Environment
     */
    'APP_ENV' => 'local',
    'APP_LOG' => 'daily',
    'APP_DEBUG' => true,
    'APP_URL' => 'http://localhost/liteframe'
];
