body {
    font-family: 'Lato', sans-serif;
    min-width:425px;
    width: auto !important;  /* Firefox will set width as auto */
    background-color:#141819;
    background-image: url(../img/backgrounds/geo.jpg);
    margin:0;
    padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#hero-area {
    min-height: 1000px;
    background-image: url(../img/backgrounds/ge.png);
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;
}


.hero-inner {
    position: relative;
    color: #f2f2f2;
    height: 100%
}

.hero-inner:before {
    background: linear-gradient(-180deg,#ccc 0,#333);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    content: "";
    display: block;
}


.herotext {
    padding: 150px 0 0 0;
    font-weight: 300; 
    font-size: 6em;
    font-family: 'lato', sans-serif;
    
}

.herotext img{
    height: 70px;
    /*margin-right: 10px;*/
}

.herotext2 {
    font-weight: 300; 
    font-size: 2em;
    color: #a6a6a6;
}

.metallic {
    background-color: #74828e;
}

.metallic-text {
    color: #74828e !important;
}

.container2 {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.bg-gray {
    background-color: #ededed;
}

.bg-metallic {
    background-color: #e6eff7;
}

.bottompad {
    padding-bottom: 50px
}

.descbox {
    height: auto;
    background-color: #fff;
}

.mb-200 {
    margin-bottom: 650px
}

.descbdr {
    padding: 80px 0;
}

.desctop {
    padding: 10px 20px 0px 20px;

}

.descitem {
    height: 300px;
}

.descpad {
    padding: 30px 0px 10px 0px;
    margin: auto;
}

.deschead-1 {
    font-size: 40px;
    font-weight: 300;
    color: #f1f1f1;
}

.deschead {
    font-size: 30px;
    font-weight: 300;
    color: #f1f1f1;
}

.descsub {
    font-size: 17px;
    font-weight: 400;
    color: #f1f1f1;
}

.desc-img {
    height: 80px;
    width: 250px;
    border-radius: 7px;
}

.desc-bg {
    height: 100%;
    border-radius: 10px;
}

.lightext {
    color: #f1f1f1;
}

.demowrap {
    height: 500px;
}
.demopad {
    height: 100%;
    margin: 100px auto 0;
}

.demo {
    height: 100%;
    background-image: url(../img/features/homecode2me.png);
    background-position: center;
    background-size: 708px 500px;
    background-repeat: no-repeat;
}
.imgfast {
    background-image: url(../img/features/fast.jpg);
    background-position: center;
    background-size: 350px 250px;
}

.imgclean {
    background-image: url(../img/features/clean.jpg);
    background-position: center;
    background-size: 350px 250px;
}

.imgdoc {
    background-image: url(../img/features/docs.jpg);
    background-position: center;
    background-size: 350px 250px;
}

.imgeasy {
    background-image: url(../img/features/easy.jpg);
    background-position: center;
    background-size: 350px 250px;
}

.picpad {
    padding: 25px 0px 0px 0px !important;
}

.textpad {
    padding: 0px 20px 0 20px !important;
}

.mg30 {
    margin: 30px 0;
}

.mg70 {
    margin: 70px 0;
}

.tilt1 {
    transform: rotate(3deg);
}

.bd-gray {
    border: 1px solid #d1d1d1;
    height: 100%;
}

.cleandesc {
    height: 400px;
    background-color: #fff;
}

.featbdr {
    margin: 100px 0 0 0px;
}

.featpic {
    height: 275px;
    width: 400px;
    background-image: url(../img/features/light1.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
    transform: rotate(3deg);
}

.exo {
    font-family: 'Exo', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.myanimated0 {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.myanimated {
    animation-duration: 3s;
    animation-fill-mode: both;
}

.myanimated2 {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 1s
}

.myanimated3 {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 2s
}

@keyframes myfadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.myfadeInUp {
    animation-name: myfadeInUp;
}

@keyframes myfadeIn0 {
    from {
        opacity: .8;
    }

    to {
        opacity: 1;
    }
}

.myfadeIn0 {
    animation-name: myfadeIn0;
}

@keyframes myfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.myfadeIn {
    animation-name: myfadeIn;
}